/*ce code est celui d'une calculatrice permettant d'effectuer de simple calculs*/

.bordure {
    text-align: center;
    border-style: solid;
    color: turquoise;
}

.consigne {
    text-align: center;
    background-color: rgb(191, 64, 64);
}

.flexbox {
    border-radius: 30px;
    background-color: skyblue;
    border-style: solid;
    text-align: center;
}

.ready {
    text-decoration: underline;
    color: rgb(62, 75, 75);
}



/* 
#####################################################################
VOICI LE NOUVEAU CODE DE LA SIMPLE CALCULATRICE POUR UN NOUVEAU STYLE 
#####################################################################
*/

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f2f2f2;
}

.calculator {
	background-color: #fff;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 360px;
}

.calculator button {
	background-color: #e0e0e0;
	border: none;
	border-radius: 5px;
	color: #333;
	font-size: 24px;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
	width: 50px;
	height: 60px;
	cursor: pointer;
}

.calculator button:hover {
	background-color: #ccc;
}

.calculator button:active {
	background-color: #aaa;
	box-shadow: none;
}

.calculator .display {
	background-color: #486475;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
	width: 350px;
	height: 60px;
	text-align: right;
}


.title {
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
}

.display :placeholder-shown{
	color: white;
}
